.Report_for{
    height: 40px;
    width: 250px;
    margin-top: 10px;
}
.report_problem{
    height: 60px;
    width: 300px;
    margin-top: 10px;
    
}
.Report-btn{
    margin-top: 10px;
    height: 50px;
    width: 70px;
}