{%extends "base.html"%}{% block title %}Admin Page{%endblock%}

{% block content %}
<form method="post">
    <div class="Admin_Login">
        <h1 class="header"> Admin Log In</h1>
        <div>
            <h3>Email Address</h3>
            <input type="email" class="Admin_Sign_content" name="Admin_email" placeholder="Enter email address">
        </div>
        <div>
            <h3>Password</h3>
            <input type="password" class="Admin_Sign_content" name="Admin_password" placeholder="Enter password">
        </div>
        <br>
        <button class="signup_btn" name="btn">Submit</button>

        
    </div>
</form>
{% endblock %}
