{%extends "base.html"%}{% block title %}Login Page{%endblock%}
{% block content %}
<form method="POST"></for>
    <div class="report">
        <h1>Report Form</h1>
        
        <input type="text" class="Report_for" name="PlaceOf" placeholder="Capmus Problem is located">
        <input type="text" class="Report_for" name="BlockOf" placeholder="the Block Problem is located">
        <input type="text" class="report_problem" name="Report_problem" placeholder="what is the query the Query">
        <button class="Report-btn" name="Report-btn" > submit</button>

    </div>
    {% endblock %}